<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income Spending Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Income Spending Survey</h2>

         <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                   <b> {{ messages[0][1] }}</b>
                </div>
            {% endif %}
        {% endwith %}
        <br>

        <form id="" method="POST" class="needs-validation">
            <div class="mb-3">
                <label for="age" class="form-label">Ages</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Genders</label>
                <select class="form-control" id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="income" class="form-label">Incomes</label>
                <input type="number" class="form-control" id="income" name="income" required>
            </div>
            <div class="mb-3">
                <label for="utilities" class="form-label">Utilities</label>
                <input type="number" class="form-control" id="utilities" name="utilities" required>
            </div>
            <div class="mb-3">
                <label for="entertainment" class="form-label">Entertainment</label>
                <input type="number" class="form-control" id="entertainment" name="entertainment" required>
            </div>
            <div class="mb-3">
                <label for="school_fees" class="form-label">School Fees</label>
                <input type="number" class="form-control" id="school_fees" name="school_fees" required>
            </div>
            <div class="mb-3">
                <label for="shopping" class="form-label">Shopping</label>
                <input type="number" class="form-control" id="shopping" name="shopping" required>
            </div>
            <div class="mb-3">
                <label for="healthcare" class="form-label">Healthcare</label>
                <input type="number" class="form-control" id="healthcare" name="healthcare" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="https://surveyanalysis-mkrlehns6qpm24fzgsw8m8.streamlit.app/" class="btn btn-success">View Dashboard</a>
        </form>
    </div>

    <script>
        // document.getElementById("surveyForm").addEventListener("submit", function(event) {
        //     event.preventDefault();
        //     const formData = new FormData(this);
        //     const jsonData = {};
        //     formData.forEach((value, key) => { jsonData[key] = value; });
            
        //     fetch("http://localhost:5000/submit", {
        //         method: "POST",
        //         headers: { "Content-Type": "application/json" },
        //         body: JSON.stringify(jsonData)
        //     })
        //     .then(response => response.json())
        //     .then(data => alert("Data submitted successfully!"))
        //     .catch(error => console.error("Error:", error));
        // });


         (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>
</html>
